#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.color-swatches-container {
  display: flex;
}

.fetch-colors-button {
  margin: 40px auto;
}

.button-container {
  min-height: 50px;
}

.loading-container {
  height: 20px;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}
